@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700&display=swap');
body{
    --full_background_color:linear-gradient(#E1E7EB,#C4C9D5);
    --center_window_color:#ffffff80;
    --theam_button_color:white;
    --theam_bottun_text_color:black;
    --theam_button_hover_color:#b1b1b1;
    --theam_button_hover_text_color:white;
    --midle_line_color:2px solid #707070;
    --midwin_titles_color:black;
    --chosen_list_color:#B2FFB5;
    --normal_list_color:white;
    --chosen_list_text_color:#4A984D;
    --normal_list_text_color:black;
    --chosen_list_sub_text_color:black;
    --normal_list_sub_text_color:gray;
    --task_div_bacground_color:white;
    --task_border_color:#a3a3a3;
    --task_backgruond_color:transparent;
    --task_id_color:#b1b1b1;
    --task_data_color:black;
}
.dark_mode{
    --full_background_color:linear-gradient(#232323,#07122D);
    --center_window_color:#414141;
    --theam_button_color:#000000;
    --theam_bottun_text_color:white;
    --theam_button_hover_color:#b1b1b1;
    --theam_button_hover_text_color:white;
    --midle_line_color:2px solid #707070;
    --midwin_titles_color:white;
    --chosen_list_color:#0090FF;
    --normal_list_color:#0F0F0F;
    --chosen_list_text_color:white;
    --normal_list_text_color:#0090FF;
    --chosen_list_sub_text_color:black;
    --normal_list_sub_text_color:white;
    --task_div_bacground_color:#505050;
    --task_border_color:#707070;
    --task_backgruond_color:#1E1E1E;
    --task_id_color:#A5A5A5;
    --task_data_color:white;
}
.background_div{
    background: var(--full_background_color);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center_window{
    position: relative;
    background-color: var(--center_window_color);
    width: 90%;
    border-radius: 0.5em;
    height: 90%;
}
#div-theme-btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 3.7em;
    padding-right: 1em;
}
#theme-btn{
    background-color:var(--theam_button_color);
    color: var(--theam_bottun_text_color);
    border: none;
    border-radius: 100vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 25px;
    justify-content: flex-end;
    width: max-content;
    transition: 0.2s ease-in-out;
    outline: none;
}
#theam_but_text{
    font-family: 'Manrope';
    font-size: 1rem;
    font-weight: 100;
    margin: 0.2em;
}
#theme-btn > img{
    height: 1.1em;
    margin-right: 0.2em;
}
#theme-btn:hover{
    background-color:var(--theam_button_hover_color);
    cursor: pointer;
    color: var(--theam_button_hover_text_color);
}
.main_page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70%;
    align-items: center;
    padding: 0.5em;
}

/* inside window */
/* Left side */
.left_side{
    width: 30%;
    border-right: var(--midle_line_color);
}
.right_side{
    width: 70%;
}
.left_side , .right_side{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_side > h1{
    font-family: 'Manrope';
    font-size: 1.5rem;
    font-weight: 500;
    color:var(--midwin_titles_color);
}
.left_side > div > div{
    width: 12em;
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    box-shadow: 0px 0px 3px #00000065;
    font-family: 'Manrope';
    cursor: pointer;
    transition: 0.1s ease-in-out;
    margin: 0.5em;
}
.left_side > div > div:hover{
    /* width: 13em; */
    transform: scale(102%);
    box-shadow: 0px 0px 11px 1px #00000069;
}
.chosen_list{
    background-color:var(--chosen_list_color) ;
    padding: 0.6em;
}
.normal_list{
    background-color: var(--normal_list_color);
    padding: 0.6em;
}
.left_side > div > div > h2{
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 700;
}
.chosen_list > h2{
    color: var(--chosen_list_text_color);
}
.left_side > div > div > h3{
    font-weight: 400;
    margin: 0px;
    font-size: 0.85rem;
}
.normal_list h2{
    color: var(--normal_list_text_color);
}
.chosen_list > h3{
    color: var(--chosen_list_sub_text_color);
}
.normal_list h3{
    color:var(--normal_list_sub_text_color);
}

/* Right side */
.right_side > h1{
    font-family: 'Manrope';
    font-size: 1.7rem;
    font-weight: 900;
    color:var(--midwin_titles_color);
}
#div_pg_table{
    background-color: var(--task_div_bacground_color);
    height: 80%;
    width: 70%;
    border-radius: 0.3em;
    box-shadow: 0px 0px 4px #00000069;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#div_pg_table > table{
    display: block;
    height: 100%;
    width: 100%;
    overflow: overlay;
    padding-inline: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#div_pg_table > table::-webkit-scrollbar{
    background-color: #21212133;
}
#div_pg_table > table::-webkit-scrollbar-thumb{
    background-color: rgb(123, 123, 123);
    border-radius: 100vmin;
}
#div_pg_table > table::-webkit-scrollbar-thumb:hover{
    background-color: rgb(235, 235, 235);
}
#div_pg_table > table > tbody{
    width: 100%;
}
#div_pg_table > table > tbody > tr{
    font-family: 'Manrope';
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    background-color: var(--task_backgruond_color);
    border: 2px solid var(--task_border_color);
    margin: 0.5em 1em;
    border-radius: 0.3em;
}
#div_pg_table > table> tbody > tr > td{
    padding: 0.5em;
}
.task_id{
    color: var(--task_id_color);
}
.task_data{
    color:var(--task_data_color);
}
.task_status{
    color: #00d700;
}

/* bottom_buttons */
.bottom_buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
}
.bottom_buttons > button{
    font-family: 'Manrope';
    border-radius: 100vmin;
    height: 2.7em;
    width: 2.7em;
    margin: 0.5em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom_buttons > button > img{
    height: 70%;
}
.bottom_buttons > button:hover{
    cursor: pointer;
}